.chartBlockBody{
    width: 37vw;
    height: 42vh;
    grid-column: span 2;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(57, 57, 57, 0.2);
    
    
}


.chartBlockHeader{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-top: 5px;
}